apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: simple-nodejs-app-avx3
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-nxll-tenant/nodejs-users/simple-nodejs-app-avx3@sha256:f0590471047612cbd23db6f57976ca4de9210824f7aaf78726f351a5ca10bdd7
        name: my-nodejs
        resources: {}
status: {}
